:root {
    --main-title-color: #ffffff;
    --main-btn-color: #01383A;
    --main-card-color: #86E543;
    --main-text-color: #ffffff;

    --second-title-color: #86E543;
    --second-btn-color: #86E543;
    --second-card-color: #8D9289;
    --second-text-color: #86E543;

    --contact-text-color: #8D9289;
    --data-text-color: #8D9289;
    --placeholder-color: #ffffff;


    --background-color: #01383A;
    --accent-color: #86E543;

    // --typical-lh: 1.36;
    --main-font: 'Roboto', sans-serif;
    // --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}