<footer class="footer">
    <div class="footer__container">
        <a class="footer-logo" href="">SHOP FOR GAMERS</a>
        <div class="footer-block">
            <ul class="footer-menu-list list">
                <li class="footer-menu-item">
                    <a class="footer-menu-link link" href="">Accessories</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-menu-link link" href="">Take order</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-menu-link link" href="">Contact</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-menu-link link" href="">Blog</a>
                </li>
            </ul>
            <div class="footer-soc">
                <ul class="footer-soc-list list">
                    <li class="footer-soc-item">
                        <a class="footer-soc-link" href="">
                            <svg class="footer-soc-icon" width="12" height="12">
                                <use href="./images/icons.svg#icon-social-group">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc-item">
                        <a class="footer-soc-link" href="">
                            <svg class="footer-soc-icon" width="12" height="12">
                                <use href="./images/icons.svg#icon-social-youtube">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-soc-item">
                        <a class="footer-soc-link" href="">
                            <svg class="footer-soc-icon" width="12" height="12">
                                <use href="./images/icons.svg#icon-social-facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-mail">
            <p class="footer-contacts-text">Email</p>
            <a class="footer-contacts-mail" href="mailto:sfg.info@gmail.com">Sfg.info@gmail.com</a>
        </div>
        <div class="footer-tel">
            <p class="footer-contacts-text">Phone number</p>
            <ul class="footer-tel-list list">
                <li class="footer-tel-item">
                    <a class="footer-contacts-tel" href="tel:+380936432288">+38 (093) 643 22 88</a>
                </li>
                <li class="footer-tel-item">
                    <a class="footer-contacts-tel" href="tel:+380503454423">+38 (050) 345 44 23</a>
                </li>
            </ul>
        </div>
</footer>