<footer class="footer">
    <div class="footer__container container">
        <a class="footer-logo" href="">SHOP FOR GAMERS</a>
        <ul class="footer-menu-list list">
            <li class="footer-menu-item">Accessories</li>
            <li class="footer-menu-item">Take order</li>
            <li class="footer-menu-item">Contact</li>
            <li class="footer-menu-item">Blog</li>
        </ul>
        <div class="footer-soc">
            <ul class="footer-soc-list list">
                <li>
                    <a class="footer-soc-link" href="">
                        <svg class="footer-soc-icon" width="12" height="12">
                            <use href="./images/icons.svg#icon-social-group">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a>
                        <svg class="footer-soc-icon" width="12" height="12">
                            <use href="./images/icons.svg#icon-social-youtube">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a>
                        <svg class="footer-soc-icon" width="12" height="12">
                            <use href="./images/icons.svg#icon-social-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <p>Email</p>
            <a>sfg.info@gmail.com</a>
        </div>
        <div>
            <p>Phone number</p>
            <ul>
                <li><a>+38 (093) 643 22 88</a></li>
                <li><a>+38 (050) 345 44 23</a></li>
            </ul>


        </div>
</footer>